/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 27-Nov-2015, 3:39:48 PM
    Author     : gheinze
*/

@import "../reindeer/reindeer.scss";

@mixin a4am {
    @include reindeer;

    .appHeader {
        background-color: black;
    }

    .appAbout {
        background: url("img/brownFrog.jpg") no-repeat;
        background-size: 100% 100%;
    }

    .redicon .v-icon {
        color: red;
    }

    .greenicon .v-icon {
        color: green;
    }

    .v-popupview-popup {
        position: absolute !important;
        height: auto !important;
        width: auto !important;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%, -50%)  !important;
        -webkit-transform: translate(-50%, -50%) !important;
        -moz-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
    }


}